header {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding: 45px 100px 0px 100px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.paddingTop {
    padding-top: 13px;
}

.wrapper li button {
    width: 148px;
    height: 44px;
    border-radius: 25px;
    color: #121212;
    font-size: 16px;
    border: none;
    cursor: pointer;
}