.circle {
    border-radius: 50%;
    background-color: #878787;
    height: 34px;
    width: 34px;
    margin-right: 20px;
    margin-left: 10px;
}

.string {
    display: flex;
    padding-bottom: 27px;
    align-items: center;
}

.highlight {
    cursor: pointer;
    user-select: none;
}

/* .highlight :hover {
    background-color: #878787;
} */

.item {
    transition: 0.5s all;
}

.padding {
    padding-top: 13px;
}